.card-container{
  align-items: center;
  background-color: color("lightgray");
  display: grid;
  height: 100vh;
  justify-content: center;
  position: relative;
  width: 100%;

  .card{
    background-color: color("white");
    border-radius: .8rem;
    height: 440px;
    width: 280px;
    
    &__qr{
      padding: .8rem;
      img{
        border-radius: .8rem;
        width: 100%;
      }
    }
    
    &__body{
      padding: 1rem 1.8rem;
      text-align: center;
      
      h1{
        color: color("darkblue");
        font-size: 1.3rem;
        font-weight: 900;
        line-height: 1.25;
        padding-bottom: 1rem;
      }
      
      p{
        color: color("grayishblue");
        font-size: .9rem;
        font-weight: 400;
      }
    }

    &__link{
      bottom: 5rem;
      color: color("grayishblue");
      font-size: .8rem;
      position: absolute;
      text-align: center;
      width:  inherit;
      a{
        color: inherit;
        font-size: inherit;
        font-weight: 700;
      }
    }
  }
}