@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;400;700&display=swap');

*{
  box-sizing: border-box;
  font-family: 'Outfit', sans-serif;
  font-size: 15px; 
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.text-center{
  text-align: center;
}