@media (max-width: 375px) {
  .card-container{
    .card{
      height: 71vh;
      width: 300px;

      &__body{
        p:nth-child(1){
          font-size: 1.4rem;
        }
        
        p:nth-child(2){
          color: color("grayishblue");
          font-size: 1rem;
        }
      }

      &__link{
        bottom: 4rem;
      }
    }
  }
}